
/* Breakpoints */
@xs: 480px;
@sm: 768px;
@md: 992px;
@lg: 1200px;

/* Colors */
@white: #fff;
@gray: #999;
@gray-light: #d5d5d5;
@gray-dark: #333;
@blue: #015cae;

/* Dimensions etc */
@container-height-md: 25em;
@container-height-sm: 25em;
@container-height-xs: 25em;