
.filter-primary {
  //background-color: @blue;
  color: @gray; 
  padding: 2.5em 10em;
  text-align: center;

  @media (max-width: @xs) {
    
    .filter-primary {
      padding: 2.5em 5em;
    }
  }
}

.filter-primary h1 {  
  font-family: "OpenSansLight",Arial,sans-serif;
  font-size: 3em;
    font-weight: 300;
}

.overlay-dotted {
  background-image: url(../images/dotted-background-small.png);
  background-position: center top;
  background-repeat: no-repeat;
}
