@font-face {
    font-family: 'OpenSansLight';
    src: url('../fonts/OpenSans-Light-webfont.eot');
    src: url('../fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Light-webfont.woff') format('woff'), url('../fonts/OpenSans-Light-webfont.ttf') format('truetype'), url('../fonts/OpenSans-Light-webfont.svg#OpenSansLight') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSansRegular';
    src: url('../fonts/OpenSans-Regular-webfont.eot');
    src: url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Regular-webfont.woff') format('woff'), url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype'), url('../fonts/OpenSans-Regular-webfont.svg#OpenSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Generic page styling */
body {
	font-family: "OpenSansRegular",Arial,sans-serif;
}

.filter-primary {
	background-color: #015cae;
	color: white;	
	padding: 2.5em 10em;
	text-align: center;
}

.filter-primary h1 {	
	font-family: "OpenSansLight",Arial,sans-serif;
	font-size: 3em;
    font-weight: 300;
}

.overlay-dotted {
	background-image: url(../images/dotted-background-small.png);
	background-position: center top;
	background-repeat: no-repeat;
}

.hidden {
	display: none;
}

/* Loading spinner styles */
@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

.loader {
	margin: auto;
	overflow: hidden;
}

.loader.loader-overlay {
	position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
    height: 14em;
}

.loader .spinner {
	border-radius: 50%;
	border-top: 1.1em solid rgba(1,92,174,.2);
    border-right: 1.1em solid rgba(1,92,174,.2);
    border-bottom: 1.1em solid rgba(1,92,174,.2);
    border-left: 1.1em solid #015cae;    
    height: 8em;
    width: 8em;
    margin: 2em auto;
    position: relative;
    text-indent: -9999em;    
    -webkit-animation: load8 .8s infinite linear;
    animation: load8 .8s infinite linear;
}

/* Form controls */
form {
	width: 50%;
	position: relative;
}

form.dual-form {
	width: 45%;
	float: left;
	margin-right: 5%;
}

label {
	display: block;
	font-size: 14px;
	margin: 10px auto 5px;    
}

input[type="text"], select {
	border: 1px solid #aaa;
	border-radius: 4px;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-sizing: border-box;
	font-size: 14px;    
    line-height: 20px;
    padding: 5px 10px;
    width: 100%;    
}

.address-picklist {
	background-color: white;
	border: 2px solid #015cae;
	box-shadow: 0 6px 12px rgba(0,0,0,.175);
	box-sizing: border-box;
	max-height: 206px;
	overflow: auto;
	overflow-x: hidden;
	padding: 0;
	width: 100%;	
}

.address-picklist div {
	color: #333;
	font-size: 14px;
	line-height: 1.4;
    padding: 5px 11px;    
}

.address-picklist div:first-child:hover {
	border-top: 0;
	padding-top: 5px;
}

.address-picklist div:last-child:hover {
	border-bottom: 0;
	padding-bottom: 5px;
}

.address-picklist div:hover {
	background: #eee;
	border-bottom: 1px solid #015cae;
	border-top: 1px solid #015cae;
    padding: 4px 11px;    
}

.formatted-address {
	border: 1px solid #00be8b;
	border-radius: 4px;
	font-weight: bold;
	line-height: 24px;
    margin: 10px auto;
    padding: 10px;
}

.formatted-address h3 {
	color: #00be8b;	
	font-size: 2em;
	font-family: "OpenSansLight",Helvetica,Arial,sans-serif;	
    line-height: 1.1;
    margin: 0 auto 10px;
}